/*library*/
.library{

}
.library .racks{
    position: relative;
}
.rack-block{
    margin:0 40px 0 0;
    position: relative;
    height: 800px;
}
.rack-block h3{
    position: absolute;
    top: 0;
}
.rack{
    border:10px solid black;
    position: absolute;
    bottom: 0;
}
.shelf{
    border-bottom: 2px solid saddlebrown;
    width: 100%;
    position: relative;
    background: url("/image/woods.jpg") 0 0 repeat;
}

/*heap*/
.heaps_book{
}
.book{
    border: 1px solid black;
    cursor: pointer;
    background: #fff;
    padding: 0;
}
.spin1{
    background: url("/image/spins/1.jpg") 0 0 repeat-x;
}
.spin2{
    background: url("/image/spins/2.jpg") 0 0 repeat-x;
}
.spin3{
    background: url("/image/spins/3.jpg") 0 0 repeat-x;
}
.spin4{
    background: url("/image/spins/4.jpg") 0 0 repeat-x;
}
.spin5{
    background: url("/image/spins/5.jpg") 0 0 repeat-x;
}
.vertical{
    background-repeat: repeat-y;
}